@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* estilizações gerais: =========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

/* depois aplicar os requisitos de fonte  */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin-right: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
    background-color: #e7e4e4ea;
    transition: background 0.2s linear;
}

.imagem_logo {
    border-radius: 50%;
}

body.dark {
    background-color: #111110cc;
}

#button-tema .checkbox {
    opacity: 0;
    position: absolute;
}

#button-tema .label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    margin-left: -20%;
    transform: scale(1.5);
}

#button-tema .label .ball {
    background-color: antiquewhite;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#button-tema .checkbox:checked+.label .ball {
    transform: translateX(24px);
}

#button-tema .bi-brightness-high-fill {
    color: #f1c40f;
}

#button-tema .bi-moon-stars-fill {
    color: #f39c12;
}

#button-tema {
    font-size: 1rem;
}

.bi-bag {
    font-size: 1.5rem;
}

.bi-x-lg {
    font-size: 1rem;
}

.bi-person-circle {
    font-size: 1.5rem;
}

.perfil {
    font-size: 1rem;
}

.logo_principal {
    background-color: #fff;
}

.logo_p {
    margin-left: -3rem;
    margin-right: 2rem;
    border-radius: 50%;
}

/* header control ======================================*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #d05140;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    /* ordem de empilhamento  */

    /* divisão entre header e home */
    position: sticky;
    top: 0;
    left: 0;
}

/* cor para modificação
#d05140 */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    width: 650px;
    margin: 20px auto;
    /* (a esquerda é o vício  */
    border-radius: 20px;
    padding: 4px 10px;
    color: #20202094;
    position: static;
    margin-right: 50%;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

.container-search .search {
    margin-right: 100%;
}

#navbar {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #fff;
}


#language-selector {
    margin-left: 2.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

#language-selector .flag {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#language-selector .flag:hover {
    transform: scale(1.1);
}

/* permite adicionar conteúdo após o conteúdo de um 
elemento HTML especificado. muito útil para adicionar 
pequenos detalhes ou estilos decorativos sem alterar o 
HTML original. */

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #f1f5f5;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar .bi-person-circle {
    font-size: 2rem;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
    /* nao deixa a resposividade visivel */
}


/* home page control  ========================================*/

#hero {
    background-image: url("img/WhatsApp\ Image\ 2024-12-01\ at\ 17.03.24.jpeg");
    height: 90vh;
    /* responsividade */
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
    /* espaçamento de altura e distância */
    margin-bottom: 20px;
}



#hero p {
    font-size: 16px;
    color: #465b52;
    margin: 10px 0;
}

/* carrossel */
.container5 {
    width: 100%;
    max-width: 600px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Carrossel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-images img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 300px;
}


#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* evita quebra de linha  */
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: #ca8606dc;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #077069e1;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    font-size: 120%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    /* distância em relação ao container pai */
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner button:hover

/* passagem de mouse */
    {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* definição universal para alinhamento lado a lado de divs */
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url("img/banner/b10.jpg");
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
    background-image: url("img/banner/b18.jpg");
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    font-size: 15px;
    margin-top: 20px;
    /* espaçamento de altura e distância */
    margin-bottom: 20px;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 20%;
}

/* #newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
} */

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 25px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d05140;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
    border-radius: 50%;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: black;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid black;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: rgb(243, 244, 247);
}

#language-selector-footer {
    margin-top: 17.5rem;
    margin-left: 2.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

#language-selector-footer .flag {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#language-selector-footer .flag:hover {
    transform: scale(1.1);
}
/* shop page */
#page-header {
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-color: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* produtos solos */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

/* about */
#page-header.about-header {
    background-image: url("img/about/banner.png");
}

#page-header p {
    color: #2e2d2d;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-head p {
    color: #817373;
}

/* time to responsivite */
/* media query */
/* analisar no inspecionar o que desejas tronar responsivel e copia a parte do código lá para cá */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #d05140;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        /* responsividade */
        padding: 0 80px;
        background-position: top 30% rigth 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    /* barra de pesquisa  */
    .search {
        width: 100%;
        /* Ajusta a largura para 100% do contêiner pai */
        margin: 10px;
        /* Ajusta o espaçamento */
        padding: 4px 10px;
        /* Ajusta o padding */
    }

    #searchInput {
        padding: 8px;
    }

    .search label {
        height: auto;
        /* Ajusta a altura conforme necessário */
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* responsividade do produto  */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: opx;
    }

    .carousel-images img {
        height: 250px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 90px;
        left: 20px;
        color: #222;
        font-size: 24px;
    }


    #button-tema {
        margin-top: 15px;
    }

}